<div class="alert alert-info" ng-hide="shoppingService.hideSpinner()">
    <span class="fa fa-refresh fa-1x glyphicon-refresh-animate" id="spinner" style="margin-right: 5px"></span>Loading Shopping Items...
</div>
<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder" ng-repeat="item in shoppingService.getItems()">
        <img ng-src="{{'data:image/jpeg;base64,' + item.image}}" width="200" height="200"
             class="img-fluid" alt="Generic placeholder thumbnail">
        <h4>{{item.name}}, \${{item.price}}</h4>
        <h5><a href="#">{{item.category}}</a></h5>
        <button type="button" class="btn btn-info" ng-click="addItemToCart(item)"
                data-toggle="popover" title="Add to cart" data-content={{cartHelper.cart}}>Add to Cart</button>
        <div class="text-muted">{{item.description}}</div>
    </div>
</section>